form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: -15px 0 0 0;

}

input[type=text] {
    width: 100%;

}

.pkm-stats{
    margin: -45px 0px 0px 0px;
    font-size: 15px;

}

#pkm-search-form{
    display: flex;
    flex-wrap: wrap;

}

.pkm-name-sprite{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: capitalize;
}



.pkm-sprite{
    margin: -10px 25px 5px 120px;
    height: 30%;
    width: 30%;

}

img{
    height: 110px;
    width: 110px;
}