form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

input[type=text] {
    width: 100%;

}

.pkm-stats{
    margin: -50px 0px 0px 0px;
    font-size: 18px;

}

#pkm-search-form{
    display: flex;
    flex-wrap: wrap;

}

.pkm-name-sprite{
    display: flex;
    flex-direction: row;
    text-transform: capitalize;

}

.pkm-sprite{
margin: 0 0 0 100px
}

img{
    height: 100px;
    width: 100px;
}