.pokemon-team-box{
  display: flex;
  flex-direction: row;
  
  background-color: #f37a7a;
  border-radius: 25px;
  width: 65vw;
  height: 55vh;
  padding: 30px;
  margin-left: 100px;

}

.pokemon-team{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 55vw;
  
}

.pokemon-card{

    display: flex;
    flex-direction: column;
    background-color: #c90505;
    height:25vh;
    width: 15vw;
    border: solid #000000;
    border-width: 3px;
    border-radius: 25px;
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: -2px 8px 10px 8px;

    /* #3b4cca  <-blue from header   */
  
  }

  .save-team-box{
    display: flex;
    flex-direction: column;
    background-color: #c90505;
    height:45vh;
    width: 10vw;
    border: solid #000000;
    border-width: 3px;
    border-radius: 25px;
    padding: 15px;

  }



