.pokemon-team-box{
  display: flex;
  flex-direction: row;
  
  background-color: #f37a7a;
  border-radius: 25px;
  width: 72vw;
  height: 55vh;
  padding: 5%;
  margin-left: 5%px;

}

.pokemon-team{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 55vw;
  
}

.pokemon-card{

    display: flex;
    flex-direction: column;
    background-color: #c90505;
    height:25vh;
    width: 14vw;
    border: solid #000000;
    border-width: 3px;
    border-radius: 25px;
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 5%;
    font-size: 12px;
    margin: 3px 3px 3px 3px;

    /* #3b4cca  <-blue from header   */
  
  }

  .save-team-box{
    display: flex;
    flex-direction: column;
    background-color: #c90505;
    height:45vh;
    width: 10vw;
    border: solid #000000;
    border-width: 3px;
    border-radius: 25px;
    padding: 3%;

  }



