/* .team-summary{
    display: flex;
    flex-direction: column;
    background-color: #d13b3b;
    height:18vh;
    width: 55vw;
    border-width: 10px;
    border-radius: 25px;
    text-align: center;
    margin: 0px 0px 0px 400px;
    border: 3px solid black;

} */

table{

    margin: 10px 0px 20px 400px;
    border-width: 1px;
    text-transform: capitalize;
    border: 3px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-width: 3px;
    border-radius: 25px;
    height:18vh;
    width: 55vw;
    background-color: #d13b3b;
 
    


}

th,td{
    padding:4px;
    border: 1px solid rgb(169, 40, 40);
}

@media (max-width:700px) {
    table{

        margin: 5px 0px 0px 0px;
        border-width: 1px;
        text-transform: capitalize;
        border: 3px solid black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        border-width: 3px;
        border-radius: 25px;
        height:18vh;
        width: 100vw;
        background-color: #d13b3b;
     
        
    
    
    }


}