.team-summary{
    display: flex;
    flex-direction: column;
    background-color: #c90505;
    height:18vh;
    width: 35vw;
    border-width: 10px;
    margin-left:20vw;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 25px;
    text-align: center;

}

.summary-table{
    


}

th{
    padding:8px;

}