header{
    height:13vh;
    width:100vw;
    border-width: 10px;
    display: inline-block;
    background-color:#3b4cca;
    color: #cfe1e4f1;
    text-shadow: 1px 0px black;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-family: 'Bowlby One SC', cursive;
  }

  h1{
    margin:0 0 15px 0;
  }

  img{
    height: 5vh;
    width:5vh;
    background-color:transparent;
  }

