.side-nav{
    display: flex;
    flex-direction: column;
    background-color: #d13b3b;
    height:60vh;
    width: 10vw;
    border-width: 10px;
    margin-right:25px;
    margin-left:35px;
    margin-top: 15px;
    border-radius: 25px;
    text-align: center;
    padding: 14px;

}

.all-teams-link{
    margin: 20px 0 0 0;

}

@media (max-width:1100px) {
    .side-nav{
      margin-top:7px;
        flex-direction: column;
        text-align: center;
        height: 30vh;
        width: 92vw;
        border-width: 10px;
        border-radius: 25px;
        margin:7px;
        padding: 7%;
    }

}