.side-nav{
    display: flex;
    flex-direction: column;
    background-color: #c90505;
    height:60vh;
    width: 10vw;
    border-width: 10px;
    margin-right:25px;
    margin-left:35px;
    margin-top: 15px;
    border-radius: 25px;
    text-align: center;
    padding: 14px;

}